{
  "map":{
    "virtuosoHost":"",
    "virtuosoPort":1112,
    "virtuosoUser":"dba",
    "virtuosoPass":"dba",

    "inputFile":"C:/freebase-rdf-latest.gz",
    "baseDirectory":"C:/Users/Chile/Desktop/FMBoutput/",

    "graphName":"http://fmb.org",

    "filter":[

    ],

    "filterInserts":{
      "$film":["completed/()pred_ns.type.object.typeobj_ns.film.film().ttl.gz"],
      "$person":["completed/()pred_ns.type.object.typeobj_ns.film.writer().ttl.gz",
        "completed/()pred_ns.type.object.typeobj_ns.film.producer().ttl.gz",
        "completed/()pred_ns.type.object.typeobj_ns.film.director().ttl.gz",
        "completed/()pred_ns.type.object.typeobj_ns.film.actor().ttl.gz",
        "completed/()_pred_ns.type.object.type_obj_ns.film.music_contributor().ttl.gz"],
      "$marriage":["completed/()_pred_ns.people.marriage.spouse_obj_$person().ttl.gz"],
      "$common":["completed/()pred_ns.type.object.typeobj_ns.film.writer().ttl.gz",
        "completed/()pred_ns.type.object.typeobj_ns.film.producer().ttl.gz",
        "completed/()pred_ns.type.object.typeobj_ns.film.director().ttl.gz",
        "completed/()pred_ns.type.object.typeobj_ns.film.actor().ttl.gz",
        "completed/()pred_ns.type.object.typeobj_ns.film.film().ttl.gz",
        "completed/()_pred_ns.type.object.type_obj_ns.film.film_series().ttl.gz",
        "completed/()_pred_ns.type.object.type_obj_ns.film.music_contributor().ttl.gz"]
    },

    "previousfilter":[
      [null,"ns:type.object.type","ns:film.film",null],
      [null,"ns:type.object.type","ns:film.producer",null],
      [null,"ns:type.object.type","ns:film.director",null],
      [null,"ns:type.object.type","ns:film.writer",null],
      [null,"ns:type.object.type","ns:film.actor",null],
      [null,"ns:film.performance.film",null,null],
      [null,"ns:film.performance.actor",null,null],
      [null,"ns:film.performance.character",null,null],
      [null,"ns:film.performance.special_performance_type",null,null],
      [null,"ns:film.performance.character_note",null,"en"],
      [null,"ns:film.film_character.portrayed_in_films",null,null],
      [null,"ns:film.film_cut.runtime",null,null],
      [null,"ns:film.film_cut.type_of_film_cut",null,null],
      [null,"ns:film.film_regional_release_date.film_release_region",null,null],
      [null,"ns:film.film_regional_release_date.release_date",null,null],
      [null,"ns:film.film.film_regional_release_date.film_regional_debut_venue",null,null],
      [null,"ns:film.film.locations",null,null],
      [null,"ns:film.film.starring",null,null],
      [null,"ns:film.film.country",null,null],
      [null,"ns:film.film.runtime",null,null],
      [null,"ns:film.film.subjects",null,null],
      [null,"ns:film.film.film_series",null,null],
      [null,"ns:film.film.music",null,null],
      [null,"ns:type.object.type","ns:film.film_character",null],
      [null,"ns:type.object.type","ns:film.performance",null],
      [null,"ns:type.object.type","ns:film.film_cut",null],
      [null,"ns:type.object.type","ns:film.film_subject",null],
      [null,"ns:type.object.type","ns:film.film_regional_release_date",null],
      [null,"ns:type.object.type","ns:film.film_series",null],
      [null,"ns:type.object.type","ns:film.music_contributor",null],
      ["$person","ns:people.person.gender",null,null],
      ["$person","ns:people.deceased_person.place_of_death",null,null],
      ["$person","ns:people.person.place_of_birth",null,null],
      ["$person","ns:people.person.nationality",null,null],
      ["$person","ns:people.person.height_meters",null,null],
      ["$person","ns:people.people.person.weight_kg",null,null],
      ["$person","ns:people.deceased_person.cause_of_death",null,null],
      ["$person","ns:people.person.age",null,null],
      ["$person","ns:people.deceased_person.date_of_death",null,null],
      ["$person","ns:people.person.date_of_birth",null,null],
      [null,"ns:people.marriage.spouse","$person",null],
      [null,"ns:people.sibling_relationship.sibling","$person",null]
      ["$person","ns:people.person.parents",null,null],
      ["$person","ns:people.person.children",null,null],
      ["$person","ns:people.person.languages",null,null],
      ["$common","ns:common.topic.image",null,null],
      ["$common","ns:common.topic.official_website",null,null],
      ["$common","ns:common.topic.subjects",null,null],
      ["$marriage","ns:people.marriage.from",null,null],
      ["$marriage","ns:people.marriage.to",null,null],
      ["$film","ns:award.award_nominated_work.award_nominations",null,null],
      ["$film","ns:award.award_winning_work.awards_won",null,null],
      ["$person","ns:award.award_winner.awards_won",null,null],
      ["$person","ns:award.award_nominee.award_nominations",null,null]
    ]
  }
}

